body {
  font-family: 'Montserrat', sans-serif;
  
}
/* ============================
   GLOBAL STYLES
   ============================ */

/* Global Header */
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* Header styling */
header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  padding: 0 20px; 
}

.global-nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;  
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.global-nav ul {
  display: contents;
  align-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-nav li.logo {
  grid-column: 1 / 2;
  justify-self: start;
  margin-right: 19rem;  
}

@media (min-width: 1024px) {
  .global-nav li.logo {
    margin-right: 80rem;  
    
  }
}

.global-nav li:not(.logo) {
  justify-self: end;
  
}

.global-nav li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.global-nav li.logo a img {
  height: 3.5rem;
}

.icon-container {
  display: flex;
  gap: 10px; 
  margin-left: 3rem; 
  
}

.icon-conteiner {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;  
}

.icon-conteiner i{
  font-size: 1.6rem;  
}



/* Global Footer */

.footer{
  background-color: rgb(28, 28,28);
  position: relative;
  top: calc(170rem + 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 0;
  align-items: center;
}

.flagg-conteiner article {
  margin: -15px;
  padding-bottom: 2rem;
}

.flagg-conteiner {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  row-gap: 40px;  
  column-gap: 20px; 
  justify-content: start;
}

.flag-and-contrey figure {
  display: flex; 
  align-items: center;
  gap: 10px; 
}

.flag-and-contrey img {
  width: 30px;
  height: auto;
}

.flag-and-contrey p {
  margin: 0;
  font-size: 16px;
  color: white;
}

.footer img{
  width: 24px;
}

.footer p{
  color: #fff;
}

.footer h3 {
  color: white; 
  padding-left: 2rem;
}

.footer .payment {
  display: flex;              
  flex-direction: column;        
  gap: 20px;                  
}


.icon-conteiner-two{
  display: flex;
  flex-direction: row;
}

.footer .payment article i {
  color: white; 
  font-size: 29px;
  padding-left: 2rem;
}

.nyhter{
  display: flex;
  flex-direction: row;
}


/* ============================
   INDEX PAGE STYLES
   ============================ */

   /*Main*/
   .image-container {
    position: relative;
    width: 100%;
    
  }
  
  .image-container img {
    width: 100%;
    height: 8rem;
    
  }
  
  .overlay-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 23rem;
    height: 27rem;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 3; /* <-- Denne m책tte jeg legge p책 for 책  sikre at elementet vises foran andre overlappende elementer*/
  }
  
  .overlay-box ul {
    list-style: none; 
    padding: 0; 
  }

  .overlay-box ul li a{
  color: black; 
  list-style: none; 
  text-decoration: none; 
  margin-bottom: 10px; 
  }

  @media (min-width: 1024px) {
    .overlay-box {
      display: flex;
      width: 90%; 
      height: 27rem; 
      padding: 30px; 
      font-size: 1.2rem; 
    }
  
    .overlay-box ul li a {
      font-size: 1rem; 
    }
  }

  @media (min-width: 1024px) {
    .travel {
      display: flex;
      flex-direction: row; 
      width: calc(20% - 1rem); 
      margin-right: 1rem; 
      
    }
  
    .travel:last-child {
      margin-right: 0; 
    }
  }

  .scroll-list {
    display: flex;
    gap: 6px; 
    overflow-x: auto; 
    padding: 10px;
    list-style: none;
    position: relative; 
    align-items: center; 
    white-space: nowrap; 
    margin-bottom: 1.5rem;
    scrollbar-color: rgb(71, 200, 236) transparent; 
    scrollbar-width: thin; 
  }
  
  .scroll-list a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background: white;
    border-radius: 10px;
    flex-shrink: 0; 
    display: inline-flex;
    align-items: center;
  }
  .scroll-list a i {
    margin-right: 8px; 
  
  }
  .arrow-icon {
    position: absolute;
    right: 1.5rem; 
    background: white;
    opacity: 0.7;
    color: black;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  

  .travel {
    padding-top: 1.5rem;
    position: relative;
    padding: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #333;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
    
  }
  
  .travel label {
    position: absolute;
    left: 13px;
    top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    z-index: 4;
  }
  
  .travel input,
  .picker select {
    margin-top: 7px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    
  }
  
  input[type="date"] {
    font-family: sans-serif;
    color: #555;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  .picker {
    padding-top: 1rem;
    position: relative;
    padding: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #333;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
  }
  
  .picker label {
    position: absolute;
    left: 13px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
  }

  .picker select {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px;
  }
  
  .picker select:focus {
    outline: none;
  }

  .search-btn {
    position: relative;
    background-color: rgb(253, 198, 49);
    color: black;
    font-weight: bold;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
    width: 100%;
    margin-left: 0.5rem;
    
  }
  
  .search-btn:focus {
    outline: none; 
  }

  

  .order_the_summers_best {
    position: relative; 
    width: 100%; 
  }
  
  .order_the_summers_best img {
    position: relative;
    margin-top: 27rem; 
    border-radius: 15px; 
    width: 100%; 
  }
  
  .overlay-box-2 {
    position: absolute; 
    top: 29rem; 
    left: 2rem; 
    width: 72%; 
    height: 20%; 
    background-color: rgb(71, 200, 236); 
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 15px; 
    padding: 20px; 
    display: flex; 
    justify-content: start; 
    align-items: center; 
  }

  @media (min-width: 1024px) {
    .order_the_summers_best img {  
      position: relative;
      margin-top: 27rem; 
      border-radius: 15px; 
      width: 100%; 
      height: 600px;
    } }

  @media (min-width: 1024px) {
    .overlay-box-2 {  
    position: absolute; 
    top: 40rem; 
    left: 49rem; 
    width: 30%; 
    height: 19%;
    } }


  
  .overlay-box-2 ul {
    list-style: none;
    padding: 0;
    text-align: start;
    z-index: 1;
    
  }
  
  .overlay-box-2 ul li p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:black
    
  }

  .first{
    padding-top: 1.5rem;
    font-weight: bold;
    font-size: 20px;
  }

  .second{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0.9rem;
  }

  .fourth{
    padding-top: 0.1rem;
    font-weight:bolder;
    font-size: 33px;
  }

.order_btn{
  position: absolute; 
  bottom: 20px; 
  left: 53%;
  transform: translateX(35%); 
  background-color:rgb(253, 198, 49);
  color: black;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;  
}

@media (min-width: 1024px) {
  .order_btn {  
    position: absolute; 
    bottom: 24px; 
    left: 70rem;
    transform: translateX(35%); 
    background-color:rgb(253, 198, 49);
    color: black;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  } }

  @media (min-width: 1213px) {
    .order_btn {  
      position: absolute; 
      bottom: 75px; 
      left: 64rem;
      transform: translateX(35%); 
      background-color:rgb(253, 198, 49);
      color: black;
      border: none;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    } }

    .scroll-container{
      position: absolute;
      width: 100%;
      background-color: white;
    }

    .scroll-list-two {
      display: flex; 
      flex-direction: row;
      gap: 40px; 
      overflow-x: scroll; 
      padding: 10px;
      padding-top: 50px;
      list-style: none;
      position: relative;
      align-items: center;
      margin-bottom: 1.5rem;
      scrollbar-color: rgb(71, 200, 236) transparent;
      scrollbar-width: thin; 
      margin-left: 1rem;
      z-index: 3;
    }
    
    .scroll-card {
      flex-shrink: 0; 
      width: 290px; 
      scroll-snap-align: start; 
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 10px;
    }
    
    .scroll-card h3 {
      
      margin-left: 0;
      font-size: 1rem;
      margin-top: 10px;
    }
    
    .scroll-card p {
      font-size: 0.6rem;
      color: rgb(71, 200, 236);
    }

    .scroll-container-two {
      position: absolute;
      width: 100%;
      background-color: white;
      margin-top: 10rem;
}

.advertising-list {
  display: flex;
  flex-direction: row;
  gap: 70px;
  overflow-x: scroll;
  padding: 10px;
  padding-top: 50px;
  list-style: none;
  position: relative;
  align-items: center;
  margin-bottom: 1.5rem;
  scrollbar-color: rgb(71, 200, 236) transparent;
  scrollbar-width: thin;
  margin-left: 1rem;
  width: 100%;
}

.advertising-list h3,
.advertising-list p {
  position: relative;
  z-index: 1; 
  padding-left: 0.5rem;
  
}

.advertising-list h3 {
  margin-top: 55%; 
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.advertising-list p {
  margin-top: 0.5rem; 
  font-size: 0.8rem;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.advertising-list img {
  position: absolute; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
  border-radius: 9px 9px 0 0; 
  width: 100%; 
  height: 50%; 
}

.scroll-card-three {
  flex-shrink: 0;
  width: 370px;
  min-width: 350px;
  height: 390px;
  scroll-snap-align: start;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  text-align: center;
  position: relative; 
  margin: 0; 
  padding: 0; 
}

.price {
  text-align: start;
  padding-top: 18px;
}

/* Solskinnspriser*/

.scroll-container-three {
  position: absolute;
  top: calc(35rem + 100%);
  width: 100%;
  background-color: white;
  margin-top: 10rem;
}

.advertising-list-two {
display: flex;
flex-direction: row;
gap: 70px;
overflow-x: scroll;
padding: 10px;
padding-top: 50px;
list-style: none;
position: relative;
align-items: center;
margin-bottom: 1.5rem;
scrollbar-color: rgb(71, 200, 236) transparent;
scrollbar-width: thin;
margin-left: 1rem;
width: 100%;
}

.advertising-list-two h3,
.advertising-list-two p {
position: relative;
z-index: 1; 
padding-left: 0.5rem;

}

.advertising-list-two h3 {
margin-top: 55%; 
font-size: 1rem;
padding-bottom: 0.5rem;
}

.advertising-list-two p {
margin-top: 0.5rem; 
font-size: 0.8rem;
text-align: start;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}
.advertising-list-two img {
position: absolute; 
top: 0; 
left: 0; 
object-fit: cover; 
border-radius: 9px 9px 0 0; 
width: 100%; 
height: 50%; 
}

.scroll-card-four {
flex-shrink: 0;
width: 370px;
min-width: 350px;
height: 390px;
scroll-snap-align: start;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden; 
text-align: center;
position: relative; 
margin: 0; 
padding: 0; 
}

.price {
text-align: start;
padding-top: 18px;
}

/*Storbyferie*/

.scroll-container-four {
  position: absolute;
  top: calc(65rem + 100%);
  width: 100%;
  background-color: white;
  margin-top: 10rem;
}

.advertising-list-three {
display: flex;
flex-direction: row;
gap: 70px;
overflow-x: scroll;
padding: 10px;
padding-top: 50px;
list-style: none;
position: relative;
align-items: center;
margin-bottom: 1.5rem;
scrollbar-color: rgb(71, 200, 236) transparent;
scrollbar-width: thin;
margin-left: 1rem;
width: 100%;
}

.advertising-list-three h3,
.advertising-list-three p {
position: relative;
z-index: 1; 
padding-left: 0.5rem;

}

.advertising-list-three h3 {
margin-top: 55%; 
font-size: 1rem;
padding-bottom: 0.5rem;
}

.advertising-list-three p {
margin-top: 0.5rem; 
font-size: 0.8rem;
text-align: start;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}
.advertising-list-three img {
position: absolute; 
top: 0; 
left: 0; 
object-fit: cover; 
border-radius: 9px 9px 0 0; 
width: 100%; 
height: 50%; 
}

.scroll-card-five {
flex-shrink: 0;
width: 370px;
min-width: 350px;
height: 390px;
scroll-snap-align: start;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden; 
text-align: center;
position: relative; 
margin: 0; 
padding: 0; 
}

.price {
text-align: start;
padding-top: 18px;
}

/*P책skefavoritten London*/

.scroll-container-five {
  position: absolute;
  top: calc(95rem + 100%);
  width: 100%;
  background-color: white;
  margin-top: 10rem;
}

.advertising-list-four {
display: flex;
flex-direction: row;
gap: 70px;
overflow-x: scroll;
padding: 10px;
padding-top: 50px;
list-style: none;
position: relative;
align-items: center;
margin-bottom: 1.5rem;
scrollbar-color: rgb(71, 200, 236) transparent;
scrollbar-width: thin;
margin-left: 1rem;
width: 100%;
}

.advertising-list-four h3,
.advertising-list-four p {
position: relative;
z-index: 1; 
padding-left: 0.5rem;

}

.advertising-list-four h3 {
margin-top: 55%; 
font-size: 1rem;
padding-bottom: 0.5rem;
}

.advertising-list-four p {
margin-top: 0.5rem; 
font-size: 0.8rem;
text-align: start;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}
.advertising-list-four img {
position: absolute; 
top: 0; 
left: 0; 
object-fit: cover; 
border-radius: 9px 9px 0 0; 
width: 100%; 
height: 50%; 
}

.scroll-card-six {
flex-shrink: 0;
width: 370px;
min-width: 350px;
height: 390px;
scroll-snap-align: start;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden; 
text-align: center;
position: relative; 
margin: 0; 
padding: 0; 
}

.price {
text-align: start;
padding-top: 18px;
}

/*Skiferie*/

.scroll-container-six {
  position: absolute;
  top: calc(125rem + 100%);
  width: 100%;
  background-color: white;
  margin-top: 10rem;
}

.advertising-list-five {
display: flex;
flex-direction: row;
gap: 70px;
overflow-x: scroll;
padding: 10px;
padding-top: 50px;
list-style: none;
position: relative;
align-items: center;
margin-bottom: 1.5rem;
scrollbar-color: rgb(71, 200, 236) transparent;
scrollbar-width: thin;
margin-left: 1rem;
width: 100%;
}

.advertising-list-five h3,
.advertising-list-five p {
position: relative;
z-index: 1; 
padding-left: 0.5rem;

}

.advertising-list-five h3 {
margin-top: 55%; 
font-size: 1rem;
padding-bottom: 0.5rem;
}

.advertising-list-five p {
margin-top: 0.5rem; 
font-size: 0.8rem;
text-align: start;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}
.advertising-list-five img {
position: absolute; 
top: 0; 
left: 0; 
object-fit: cover; 
border-radius: 9px 9px 0 0; 
width: 100%; 
height: 50%; 
}

.scroll-card-seven {
flex-shrink: 0;
width: 370px;
min-width: 350px;
height: 390px;
scroll-snap-align: start;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden; 
text-align: center;
position: relative; 
margin: 0; 
padding: 0; 
}

.price {
text-align: start;
padding-top: 18px;
}

/*Spar opptil 7000,*/

.scroll-container-seven {
  position: absolute;
  top: calc(155rem + 100%);
  width: 100%;
  background-color: white;
  margin-top: 10rem;
}

.advertising-list-six {
display: flex;
flex-direction: row;
gap: 70px;
overflow-x: scroll;
padding: 10px;
padding-top: 50px;
list-style: none;
position: relative;
align-items: center;
margin-bottom: 1.5rem;
scrollbar-color: rgb(71, 200, 236) transparent;
scrollbar-width: thin;
margin-left: 1rem;
width: 100%;
}

.advertising-list-six h3,
.advertising-list-six p {
position: relative;
z-index: 1; 
padding-left: 0.5rem;

}

.advertising-list-six h3 {
margin-top: 55%; 
font-size: 1rem;
padding-bottom: 0.5rem;
}

.advertising-list-six p {
margin-top: 0.5rem; 
font-size: 0.8rem;
text-align: start;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}
.advertising-list-six img {
position: absolute; 
top: 0; 
left: 0; 
object-fit: cover; 
border-radius: 9px 9px 0 0; 
width: 100%; 
height: 50%; 
}

.scroll-card-eight {
flex-shrink: 0;
width: 370px;
min-width: 350px;
height: 390px;
scroll-snap-align: start;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden; 
text-align: center;
position: relative; 
margin: 0; 
padding: 0; 
}

.price {
text-align: start;
padding-top: 18px;
}








/* ============================
   HOTEL PAGE STYLES
   ============================ */

/* ============================
   ORDER PAGE STYLES
   ============================ */
